In [1]:
import numpy as np
import pandas as pd

In [2]:
# Задаём максимально количкство строк для вывода
# pd.options.display.max_rows = 100

In [3]:
df = pd.read_csv(r"salary_and_population.csv",
                  sep=',', decimal='.')

In [4]:
df

,Region_RU,Region_EN,AVG_Salary,Population,Unnamed: 4
0,Алтайский край,Altai Region,25960,218866,NaN
1,Амурская область,Amur Region,43156,793194,NaN
2,Архангельская область,Arkhangelsk Region,47526,1144119,NaN
3,Астраханская область,Astrakhan Region,32166,1014065,NaN
4,Белгородская область,Belgorod Region,31163,1547418,NaN
...,...,...,...,...,...
80,Чеченская Республика,Republic of Chechnya,26108,1456951,NaN
81,Чувашская Республика,Chuvash Republic,27028,1223395,NaN
82,Чукотский АО,Chukotka AO,96930,49663,NaN
83,Ямало-Ненецкий АО,Yamalo-Nenets Autonomous district,86560,541479,NaN
84,Ярославская область,Yaroslavl Region,33882,1259612,NaN

In [5]:
# Удаляем из столбца Region_RU, строки = Республика Башкортостан, Ханты-Мансийский АО (Югра), Оренбургская область
df = df.loc[~df['Region_RU'].isin(['Республика Башкортостан', 'Ханты-Мансийский АО (Югра)', 'Оренбургская область'])]

In [6]:
# Удаляем столбце Unnamed: 4
df.drop("Unnamed: 4", axis=1)

,Region_RU,Region_EN,AVG_Salary,Population
0,Алтайский край,Altai Region,25960,218866
1,Амурская область,Amur Region,43156,793194
2,Архангельская область,Arkhangelsk Region,47526,1144119
3,Астраханская область,Astrakhan Region,32166,1014065
4,Белгородская область,Belgorod Region,31163,1547418
...,...,...,...,...
80,Чеченская Республика,Republic of Chechnya,26108,1456951
81,Чувашская Республика,Chuvash Republic,27028,1223395
82,Чукотский АО,Chukotka AO,96930,49663
83,Ямало-Ненецкий АО,Yamalo-Nenets Autonomous district,86560,541479
84,Ярославская область,Yaroslavl Region,33882,1259612

Выборочное среднее $\overline X$:

In [7]:
df['AVG_Salary'].mean()

38720.96341463415

Выборочная медиана $Me$:

In [8]:
df['AVG_Salary'].median()

32723.0

Оценка дисперсии $S^2$:

In [9]:
# Параметр ddof позволяет указать необходимую дельту степени свободы
df['AVG_Salary'].var(ddof = 0)

269284654.25475913

Среднеквадратическое отклонение $\sigma$:

In [10]:
df['AVG_Salary'].std(ddof = 0)

16409.89501047338